@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Share+Tech+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
html{
    font-family: "Raleway" , sans-serif;
    font-size: 16px;
    color: #555;
}
body{
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow: auto;
}
img{
    width: 100%;
    height: 100%;
    margin: 0;
}

.content a{
    text-decoration: none;
    
    color: #555;
}
.profile-pic img{
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#about{
  display: flex;
  align-items: center;
}
nav{
    width:100vw;
    background-color: rgba(255, 0, 0, 0.747);
}
.nav-list{  
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-items: space-between;

}
.nav-item{
    width: 20%;
    text-align: center;
    padding:10px;
    font-size: 20px;
}
.nav-item:hover{
    background-color: rgb(187, 27, 27);
}
.nav-link{
    text-decoration: none;
    font-family: monospace;
    color:white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-item:hover i{
    animation: spinAround 2s linear infinite;
}

@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}
.container{
    display: block;
}
#about, #education, #project, #skills,#contact{
    display: inline;
}
.profile-pic{
 width: 25vw;
 height: 25vw;
 margin: auto;
 padding: 30px;
}

.content{
    font-size: 22.5px;
    text-align: justify;
    color: rgb(56, 53, 50);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin: 0 10vw;
    line-height: 200%;
}
.about{
    text-align: center;
}
h1{
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    /*text-align: center;*/
    font-size: 45px;
    font-style: normal;
    color: rgba(240, 10, 10, 0.897);
    font-weight: 400;
    font-family: "vollkorn", serif;
}
#name{
    font-size: 50px;

}
#quality{
    font-size: 22.5px;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}
.project-image{
    height:45vw;
    width: 45vw;
    margin: 0 auto; 
    padding: 2vw; 
}
.project-image img{
    border-radius: 10%;
    
}
.flex .content{
    margin: 0;
    padding: 0 0 0 5vw;

}
.contact{
    width: 100%;
}

.contact-list{
    margin:0;
    display: flex;
    align-items: center;
 
}
.contact-links{
    display: flex;        
  
    justify-content: center;
    align-items: center;
    height: 7vw;
    width: 7vw;
    text-decoration: none;
    font-size: 5vw;
    margin : 3vw auto;
    border-radius: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fa-facebook{
    color:blue;
}
.fa-instagram{
    color: red;
}
.fa-linkedin{
    color: rgb(59, 56, 218);
}
.fa-github{
    color: black;
}
.fa-envelope-open{
    color: red;
}
footer{
    height: fit-content;
    background-color: #131622;
    color: white;
    text-align: center;
    background: linear-gradient(to bottom, #fc0101, rgb(241, 123, 102) 100%);
    padding:15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
footer p{
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255,255,255,0.6);
    margin-bottom: 10px;
}

#skills{
    width: 100%;
    background-color: brown;
}
.skill-list{
   
    list-style-type: none;
    line-height: 200%;
    margin: 0 10vw;
    color: rgb(56, 53, 50);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 22.5px;
}
.skill-list i{
    font-size: 15px;
}

h2{
    text-align: left;
    /*margin:0 0 0 30px;*/
}
.flex{
    width:fit-content;
    margin: 0 10vw;
    display: flex;
    align-items: center;
    justify-items: space-between;
}
.flex .content{
    text-align:left;
}

@media only screen and (max-width: 800px) {
    .nav-list{
      display:flex;
      flex-direction: column;
    }
    .nav-item{
        width: 100%;
        padding: 0;
        text-align: left;
       
    }
    .nav-link{
        display: block;
        height: 100%;
        padding:2vw;
        font-size: 4vw;
    }
    .content{
        font-size: 4.8vw;
    }
    .flex .content{
        margin: 0;
        padding: 0;
    
    }
    #name{
        font-size: 10vw;
    }
    #quality{
        font-size: 4.4vw;
    }
    .skill-list{
        font-size: 4.8vw;
    }
    .skill-list i{
        font-size: 3vw;
    }
    h2{
        text-align: left;
        
    }
    .flex{
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    footer p{
        font-size: 3.6vw;
        padding: 0 10vw;
    }
    .profile-pic{
        width: 50vw;
        height: 50vw;
        margin: auto;
        padding: 4vw;
    }
    .contact-links{

        height: 14vw;
        width: 14vw;

        font-size: 12vw;
      
    }
    .project-image{
        height: auto;
    }
  }